/*Colours*/

$primary-indigo: #341d6a;
$primary-indigo-light: #554395;
$secondary-indigo: #25174c;
$secondary-indigo-light: #c5badc;

$primary-teal: #005a7a;
$primary-bg-opacity: rgba(0, 90, 122, 0.8);
$primary-teal-light: #00809d;
$secondary-teal: #157498;
$secondary-teal-light: #bfe2e0;

$primary-burgundy: #6e042c;
$primary-burgundy-light: #a30051;
$secondary-burgundy: #5b031a;
$secondary-burgundy-light: #f5cce2;

$primary-gold: #b1921f;
$primary-gold-light: #d2c66b;

$media-bg: #d8e3de;
$media: #8fa498;
$media-opacity: rgba(143, 164, 152, 0.8);

$form_bg: whitesmoke;

/*Default Colours*/

$primary-color: $primary-teal;
$secondary-color: $secondary-teal;
$shadow-color: rgba(0, 0, 0, 0.1);
