/*Colours*/

$primary-grey: #333333;
$primary-grey-light: #777777;
$secondary-grey: #555555;;
$secondary-grey-light: #cccccc;

$media-bg: #cdcdcd;
$media: #dedede;
$media-opacity: rgba(143, 164, 152, 0.8);

$form_bg: $secondary-grey-light;

/*Default Colours*/

$primary-color: $primary-grey;
$secondary-color: $secondary-grey;
$primary-bg-opacity: $primary-grey;
$shadow-color: rgba(0, 0, 0, 0.1);
