.offcanvas-header {
  background-color: white;
  height: 65px;
  padding: 1rem 0.5rem;
  z-index: 4;
  .header__logos {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .navbar-brand-menu {
      position: relative;
      bottom: 0.1em;
      margin: 0 0 0 1.5em;
      min-width: 200px;
      img {
        max-height: 40px;
      }
    }
    .navbar-brand-2-menu {
      position: relative;
      margin: 0 1em 0 0;
      top: 0.45em;
      img {
        max-height: 31px;
      }
    }
  }
  .btn-close {
    opacity: 0.7;
    font-size: 2.1em;
    background-image: none;
    margin-bottom: 0.1em;
    box-shadow: none !important;
    &:before {
      content: "\f00d";
      font-family: icomoon;
      display: block;
    }
    &:hover {
      opacity: 1;
    }
    &:active {
      // do something?
    }
  }
}

.offcanvas-body {
  padding: 0;
  overflow: hidden;
  .navbar-form {
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .content {
    padding: 4em 1em;
  }
}

.menu--sidebar-tabs {
  .nav-tabs {
    justify-content: flex-start;
    border-bottom: none;
    background-color: $primary-color;
    position: fixed;
    width: 100%;
    max-width: 410px;
    box-shadow: 2px 2px 4px grey;
    z-index: 2;
    .nav-item {
      flex: none;
      width: 33.333%;
      margin: 0;
      border-bottom: 1px solid $primary-color;
      border-right: 1px solid $primary-color;
      &:nth-child(1) {
        display: block;
        @include md {
          display: none;
        }
      }
      &:nth-child(3) {
        margin-right: 0;
      }
      .nav-link {
        color: white;
        background-color: $primary-color;
        border: none;
        border-radius: 0;
        padding: 1.1em;
        text-transform: uppercase;
        font-size: 0.8em;
        letter-spacing: 1px;
        &.active,
        &:active {
          background-color: $primary-color;
          font-weight: bold;
          color: white;
        }
        &:hover {
          background-color: $secondary-color;
          font-weight: bold;
          color: white;
        }
      }
    }
  }
}
